.container{
    max-height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}

.containerPagebreak{
    max-height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
    page-break-before: always;
}

.containerTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 50px;
    height: 50px;
}


.content{
    height: 100%;
    overflow: auto;
    white-space:pre-wrap;
}
.title{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    box-shadow: 4px 4px 2px grey;
}

.title{
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}


.score{
    width: 100%;
}

.button{
    margin-left: 5%;
    border-radius: 2px;
    background: #3c3b40;
    color: white;
    font-size: 0.85em;
    font-weight: bold;
    border: none;
    min-width: 100px;
    padding: 0 2em 0 2em;
    line-height: 2em;
}

.contentPrint{
    height: 100%;
    overflow: auto;
    white-space:pre-wrap;
    font-size: 12px;
}


