.styleOuter{
    fill-opacity: 0;
    stroke: #c4c4c4;
}

.styleArc{
    fill-opacity: 0.8;
}

.styleArcHover{
    fill-opacity: 1;
}

.styleText{
    text-anchor: middle;
    font-weight: bold;
}

.styleContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.styleContainerProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.styleContainerText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.styleLabel{
    text-anchor: middle;
    font-size: 15px;
}

.styleLabelKwadrant{
    color: white;
    font-weight: bold;
    text-anchor: middle;
    font-size: 20px;
    alignment-baseline: middle;
}

@media screen and (max-height: 1000px) {
    .styleLabelKwadrant{
        color: white;
        font-weight: bold;
        text-anchor: middle;
        font-size: 10px;
        alignment-baseline: middle;
    }

    .styleLabel{
        text-anchor: middle;
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    .styleLabelKwadrant{
        color: white;
        font-weight: bold;
        text-anchor: middle;
        font-size: 10px;
        alignment-baseline: middle;
    }
    .styleLabel{
        text-anchor: middle;
        font-size: 10px;
    }
}




