.styleOuter{
    fill-opacity: 0;
    stroke: #c4c4c4;
    cursor: pointer;
}

.styleArc{
    fill-opacity: 0.8;
    cursor: pointer;

}
.styleArcKwadrant{
    fill-opacity: 0.8;

}

.styleArcHover{
    fill-opacity: 1;
    cursor: pointer;

}

.styleText{
    text-anchor: middle;
    font-weight: bold;
    cursor: pointer;

}

.styleContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

}

.styleContainerProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.styleContainerText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    cursor: pointer;

}

.styleLabel{
    text-anchor: middle;
    font-size: 15px;
    cursor: pointer;

}

.styleLabelKwadrant{
    color: white;
    font-weight: 800;
    text-anchor: middle;
    font-size: 25px;
    alignment-baseline: middle;

}

@media screen and (max-height: 1000px) {
    .styleLabelKwadrant{
        color: white;
        font-weight: 800;
        text-anchor: middle;
        font-size: 12px;
        alignment-baseline: middle;

    }

    .styleLabel{
        text-anchor: middle;
        font-size: 10px;
        cursor: pointer;

    }
}

@media screen and (max-width: 1000px) {
    .styleLabelKwadrant{
        color: white;
        font-weight: 800;
        text-anchor: middle;
        font-size: 20px;
        alignment-baseline: middle;

    }
    .styleLabel{
        text-anchor: middle;
        font-size: 10px;
        cursor: pointer;

    }
}


@media screen and (max-width: 500px) {
    .styleLabelKwadrant{
        color: white;
        font-weight: 800;
        text-anchor: middle;
        font-size: 12px;
        alignment-baseline: middle;

    }
    .styleLabel{
        text-anchor: middle;
        font-size: 10px;
        cursor: pointer;

    }
}
.buttonContainer{
    margin-left: 10%;
    margin-top:2%;
    margin-bottom: 50px;
    width: 80%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.styleLabelPrint{
    text-anchor: middle;
    font-size: 10px;
}

.styleLabelKwadrantPrint{
    color: white;
    font-weight: 800;
    text-anchor: middle;
    font-size: 20px;
    alignment-baseline: middle;
}

.titlePrint{
    color: #3b3b3b;
}




